<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DigiX</title>
    <meta name="description" content="First page">

    <link rel="stylesheet" href="include/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="include/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="stylesheets/profile.css">
    <script src="include/jquery/jquery-1.11.2.min.js"></script>
    <script src="include/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<header>
    <div class="navbar navbar-default navbar-inverse">
        <div class="container">
            <p class="navbar-text navbar-left" style="color:white;margin-right:20px;">Logged in
                as: <%= user.username %> </p>

            <a href="profile/button" class="btn navbar-btn btn-default" id="button-images-slideshare"><span
                        class="glyphicon glyphicon-picture"></span></a>
            <a href="tree" class="btn navbar-btn btn-default" id="button-family-tree"><span
                        class="glyphicon glyphicon-tree-conifer"></span></a>

            <div class="dropdown btn-group btn-default">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span
                            class="glyphicon glyphicon-cog"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="edit_profile">Edit profile</a></li>
                    <li><a href="facebook">Add account</a></li>
                    <li class="divider"></li>
                    <li><a href="http://google.ro">Help</a></li>
                    <li><a href="logout">Log out</a></li>
                </ul>
            </div>

            <div class="dropdown btn-group btn-default navbar-btn navbar-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span
                            class="glyphicon glyphicon-chevron-down"></span></a>
                <ul class="dropdown-menu" style="width:180px">
                    <li>
                        <form action="/advanced_search" class="navbar-form navbar-right" role="search">
                            Description : <input type="text" name="description"><br>
                            Commented By : <input type="text" name="commented_by"><br>
                            Comment Content : <input type="text" name="commented_content"><br>
                            Liked By : <input type="text" name="liked_by"><br>
                            Persons Tagged : <input type="text" name="persons_tagged"><br>
                            <button type="submit" id="searchbtn" class="btn btn-default btn_right"><span
                                        class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </li>

                </ul>
            </div>

            <form action="/search_photos_button" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" name="searched_text" class="form-control" placeholder="Search text">
                </div>
                <button type="submit" id="searchbtn" class="btn btn-default"><span
                            class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
    </div>
</header>
<br>

<div class="galery">
    <br>

    <div class="pictures">

        <div id="visible">
            <% for(var i = 0; i < photos.length; i++) { %>
            <a href=<%- photos[i] %>><img src=<%- photos[i] %> height=200px></a>
            <% } %>
        </div>

        <ul class="pager">
            <li><a href="/search_photos/previous" id=<%- previousButtonVisible %>> Previous Page </a></li>
            <li><a href="/search_photos/next" id=<%- nextButtonVisible %>> Next Page </a></li>
        </ul>

    </div>

</div>


<script src="javascripts/scroll.js"></script>

</body>
</html>
